body {
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.input-group {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.float {
  justify-content: center;
  display: flex;
  align-items: center;
}

.center {
  justify-content: center;
  display: flex;
  align-items: center;
}

